<mat-toolbar style='margin-top:5rem'>
  <div class="center-links"><label for="" style="margin-right:8px;">Visit me on github: </label> 
    <a target="_blank" href="https://github.com/ArekScibior">
      <img style="margin-bottom: -8px;" src="../../../assets/images/GitHub-Mark-32px.png" alt=""/>
    </a>
  </div> 
  <div class="center-links">&nbsp;<label for="" style="margin-right:8px;">Visit me on LinkedIn:</label> 
    <a target="_blank" href="https://www.linkedin.com/in/arek-scibior/">
      <img style="margin-bottom: -8px;" src="../../../assets/images/linkedin-logo.png" alt=""/>
    </a>
  </div> 
</mat-toolbar>
<!-- Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->